h1, header, #apiCall{
  text-align: center;
}
#apiRes{
  height: 400px;
}
header{
  height: 90px;
  background-image: url("https://ci.memecdn.com/10299424.jpg");
  background-repeat: no-repeat;
  background-size: 70% 90px;
  background-position: center;
}
header, section{
  width: 80%;
  margin: auto;
  background-color: rgba(0,0,255,.2);
  padding: 2%;
}
body{
  background-image: url("https://i.ytimg.com/vi/XzKvdm1MSWU/maxresdefault.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
