body{
  background-color: rgba(255,222,0,.8);
  font: 12px monospace;
}
h1, header, #apiCall{
  text-align: center;
}
#apiRes{
  text-align: center;
  width: 70%;
  margin: auto;
}
header{
  height: 90px;
  background-image: url("https://ci.memecdn.com/10299424.jpg");
  background-repeat: no-repeat;
  background-size: 70% 90px;
  background-position: center;
}
header, section{
  width: 70%;
  margin: auto;
  background-color: rgba(0,0,255,.7);
  padding: 2%;
}
